<div class="pure-g" id="maincontainer">
    <div class="pure-u-1-24 pure-u-md-5-24"></div>
	<div class="pure-u-11-12 pure-u-md-5-8">
	  <ul class="posts">
		{{ $baseurl := .Site.BaseURL }}
                {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
		{{ range $name, $page := $paginator.Pages }}
		<li>
		  <h2><a href="{{ .Permalink }}">{{ $page.Title }}</a></h2>

		  <p class="footnote">
			submitted <time datetime="{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}" class="post-list timeago">{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}</time>

			{{ if or $page.Params.tags $page.Params.categories $page.Params.series }}
			to
			{{ end }}

			{{ with $page.Params.tags }}
			tags:[ {{ range $page.Params.tags}}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}]
			{{ end }}

			{{ with $page.Params.categories }}
			categories:[ {{ range $page.Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}]
			{{ end }}

			{{ with $page.Params.series }}
			series:[ {{ range $page.Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}]
			{{ end }}

		  </p>
		</li>

                <div class="post-content">
                  {{ with $page }}
                    {{ .Summary }}
                    {{ if .Truncated }}<a href="{{ .Permalink }}">Read on →</a>{{ end }}
                  {{ end }}
                </div>

		{{ end }}

                <div class="post-content">
	          {{ if $paginator.HasPrev }}
	              <a href="{{ $paginator.Prev.URL }}" class="prev">← Newer posts</a>
	          {{ end }}
                  {{ if and $paginator.HasPrev $paginator.HasNext }}
                  |
                  {{ end }}
	          {{ if $paginator.HasNext }}
	              <a href="{{ $paginator.Next.URL  }}" class="next">Older posts →</a>
	          {{ end }}
                </div>
	  </ul>
	</div>
    <div class="pure-u-1-24 pure-u-md-1-6"></div>
</div>
